*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    height: 100vh;
    background-image: url(rapor.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.nav-bar {
    display: flex;
    padding: 40px 120px;
}
.nav-logo img{
    width: 135px;
}
.nav-links {
    flex: 1;
}
.nav-links ul {
    margin-left: 50px;
    display: inline;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-links ul a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    
}
.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li:hover::after{
width: 100%;
}
.btn{
    padding: 10px 20px;
    border: 0;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
.nav-links .btn{
    float: right;
}
.banner-tittle {
    margin: 80px 130px;
    color: #fff;
}
.banner-tittle h1{
    font-size: 40px;
    margin-bottom: 30px;
}

.semboyan {
    margin-top: 150px;
    margin-bottom: 30px;
}
.banner-tittle h1 span {
    color: yellow;
}
.vertical-bar {
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    position: absolute;
}
.search-icon {
    height: 60%;
    width: 80px;
}
.search-icon .fa {
    margin: 45px 23px;
    display: block;
    color: #000;
    font-size: 30px;
    cursor: pointer;
}
.social-icons{
    height: 25%;
    width: 80px;
    background: yellow;
    text-align: center;
    padding-top: 100%;
    bottom: 0;
    position: absolute;
}
.social-icons .fa{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
.notifications {
    display: 400px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: yellow;
    align-items: center;
}
.contents {
    flex-basis: 50%;
    padding: 10px;
}

.contents a{
text-decoration: none;
color: #000;
font-size: 13px;
margin: 0 10px;
}
.contents p{
    text-align: right;
    margin-top: 10px;
}

.nav-bar .fa {
    display: none;
}

@media (max-width: 700px) {
    .vertical-bar{
        display: none;}
    .banner-tittle{
  margin: 80px 40px;
    }
    .banner-tittle h1 {
        font-size: 40px;
    }

    .semboyan {
        margin-top: 70px;
    }
    .semboyan h2 {
        font-size: 20px;
        text-align: left;
    }
    .notifications {
        width: 100%;
    }
    .nav-bar {
        padding: 10px 30px;
    }
    .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .nav-bar .fa{
        display: block;
        color: yellow;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links {
        height: 100vh;
        width: 200px;
        background: #000;
        top: 0;
        right: -200px;
        position: absolute;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul a{
        display: block;
    }
    .nav-links .btn{
        float: none;
        margin-left: 25px;
        margin-top: 10px;
    }
}